* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #153b4d;
  color: #fff;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  /* background-color: #153b4d; */
  border: #fff solid 1px;
  width: 120px;
  height: 120px;
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.restartBtn {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
}
